html {
    height: 100%;
}

body {
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
}

.navPad {
    padding-bottom: 0;
}

.image {
    height: 100%;
    width: auto;
    }

.card {
   float: right;
   margin: 10px 10px 10px 10px;    
}

.slogan {
  font-family: 'Red Rose';
  font-size: 50px;
  color: black;
 
}

.p_about {
  text-align: justify;
}
.naturalIngredients {
    padding: 0;

}

.serviceCards {
    margin: auto 0;
}

  .box {
    float: left;
    width: 50%;
    height: 600px;
    padding: 50px;
    text-align: center   ;
  }

  .box2 {
    float: left;
    height: 700px;
    padding: 10px;
    text-align: center;
  }

  /* NOTE boxText1 is for colored background, white lettering
  NOTE boxText2 is for white background, black lettering */

  .boxText1 {
   color: white;
   font-family: 'Montaga', serif;
   font-size: 38px;
  }

  /* .boxText2 {
    color: #4d4d4d;
    font-family: 'Montaga', serif;
    font-size: 38px;
    text-align: left;
    padding: 10px;
    margin-top: 20px;
    margin-right: 65px;
    padding-left: 65px;
    margin-left: 50px;
   }  */

   .boxText3 {
    color: #4d4d4d;
    font-family: 'Montaga', serif;
    font-size: 18px;
    text-align: justify;
    padding: 5px;
    margin-top: 25px;
    margin-right: 65px;
    padding-left: 65px;
    margin-left: 50px;

   } */

   .gabbyPhoto {
    margin-left: 260px;
     margin-top: 25px;
     margin-right: 100px; 
   }

  
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

  .nameTitle
  {
    font-family: 'Montaga', serif;

  }

  h1 {
    letter-spacing: 6px;
    text-align: center; 
 }

 .imagePlaceholder {
    align-content: center;
   }

 a {
     padding: 10px;
     color: white;
 }

 .mission {
   padding: 20px;
   margin-top: 25px;
   margin-bottom: 50px;
   font-family: 'Dancing Script', cursive;
   font-size: 30px;
  
 }

 .missionHeader {
  padding: 20px;
  margin-top: 25px;
  margin-bottom: 50px;
  font-family: 'Dancing Script', cursive;
  /* font-size: 60px; */
 
}

 
 .missionText {
  padding: 10px;
  margin-top: 100px;
  margin-bottom: 100px;
  font-family: 'Montaga', serif;
}


.footer {
    /* position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: black;
    color: white;
    text-align: center;
  }


 .footerFont {
     color: white;
     text-align: center;
    
 }

 @media screen and (max-width: 748px) {
  img {
    width: 100%;
    height: auto;
  }

 }
/* 
mobile navbar */
.dis-none{
  display: none;
}
#navbar_toggle{
  position: absolute;
  right: 1em;
  top: 2em;
}
.h-40{
  height: 40px !important;
  min-height: 40px;
}
.logo{ width:70px; }

@media only screen and (max-width: 300px) {
 .mobile {
      background-image: url(/assets/images/yellowstonemobile.png);
      width: 100%;
      height: auto;
    }

  }
    
@media screen and (max-width:768px){
  .uk-navbar-left{
      display: block;
      width: 100%;
  }
  .uk-navbar-item{ display: inline; }
  
  .uk-navbar-nav{ display:block; }

  .navbar-collapse{ width:100%; }

  .uk-navbar-nav li{
      display: block;
      padding: 10px;
      height: 40px;
      border-bottom: 1px solid #ddd;
  }

  .uk-navbar-nav li a{
      display: block;
      width: 80%;
      padding: 0.5rem 1rem;
  }




/* end navbar mobile css */

/* img {padding: 20px;
        border-radius: 5em;} */

@media screen and (max-width: 992px) {
img {
      width: 100%;
      height: auto;
    }
     
   .menu-none {
      display: none;
    }


  } 
   
  @media screen and (max-width: 768px) {
      
    img {
          width: 100%;
          height: auto;
        }

        .a
        {
          display: block;
          margin-left: auto;
          margin-right: auto;
          width: 75%;
        }

        .navbar-collapse {
          display: none;
        }
        .gabbyPhoto {
          display: none; 
         }
    
         .slogan {
          font-family: 'Red Rose';
          color: black;
          font-size: 20px;
        }    

        .ingredientsImg {
          display: none;
       }
         .cg {
          width: 40%;
          height: auto;
        }
    
         .aboutBody {
          background-image: url(../images/texturebackground.png);
        }
        .servicesBody {
          background-image: url(../images/texturebackground.png);
        }
      } 


@media only screen and (max-width: 300px) {
    img {
        width: 100%;
        height: auto;
      }
      .gabbyPhoto {
        display: none; 
       }

       .ingredientsImg {
         display: none;
       }
       .slogan {
        font-family: 'Red Rose';
        color: black;
        font-size: 20px;
      }    
      .cg {
        width: 30%;
        height: auto;
      }

       .mission {
        padding: 3px;
        margin-top: 25px;
        margin-bottom: 50px;
        font-family: 'Dancing Script', cursive;
      }
    
      .aboutBody {
        background-image: url(../images/texturebackground.png);
      }

      .servicesBody {
        background-image: url(../images/texturebackground.png);
      }
    }
} 